@import url("./common/common.css");

.hero-section {
  height: 70vh;
}

.hero-section div {
  position: relative;
}

.hero-image {
  width: 100%;
  position: absolute;
  height: 70vh;
  border-radius: 0.5rem;
}

.hero-text {
  position: absolute;
  color: rgb(19, 37, 201);
  font-size: 4rem;
  text-align: center;
  margin: 3rem auto 0 auto;
  width: 100%;
  cursor: default;
}

.hero-btn {
  display: flex;
  position: absolute;
  background-color: orangered;
  font-size: 2rem;
  border: none;
  padding: 1.5rem;
  border-radius: 2.5rem;
  color: white;
  font-weight: bold;
  margin-top: 20rem;
  justify-self: center;
  box-sizing: border-box;
  cursor: pointer;
}

.hero-btn:hover {
  box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.3);
  transform: scale(1.08);
  transition: 0.3s ease-in-out;
  color: rgba(23, 23, 238, 0.8);
  text-decoration: underline;
  text-underline-offset: 0.5rem;
}

.card-section {
  margin-top: 2rem;
}

.cards {
  display: flex;
  flex-wrap: wrap;
  gap: 2rem;
  justify-content: center;
}

.card {
  width: 90%;
  box-shadow: 5px 5px 5px rgb(73, 70, 78, 0.5);
  box-sizing: border-box;
  padding: 1rem;
  border-radius: 1rem;
}

.card:hover {
  box-shadow: 8px 8px 8px 5px rgb(73, 70, 78, 1);
}

.card-img {
  width: 100%;
  border-radius: 1rem;
}

.card-title {
  font-size: 2.5rem;
  box-sizing: border-box;
  padding: 0.5rem;
}

.card-description {
  font-size: 1.8rem;
  box-sizing: border-box;
  padding: 0.5rem;
}

.card-button {
  color: white;
  background-color: orangered;
  border: none;
  font-size: 2.5rem;
  padding: 1rem;
  border-radius: 1rem;
  box-sizing: border-box;
  cursor: pointer;
  margin-left: 1rem;
  transition: 0.3s ease;
}

.card-button:hover {
  transform: scale(1.08);
  text-decoration: underline;
  color: rgb(59, 59, 243, 0.8);
  font-weight: bold;
}

@media screen and (min-width: 768px) {
  .hero-section {
    height: 75vh;
  }

  .hero-image {
    height: 75vh;
  }
  .hero-text {
    font-size: 5rem;
  }

  .hero-btn {
    margin-top: 23rem;
  }

  .card {
    width: 45%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }

  .card-button {
    width: 55%;
  }

  .card:nth-child(2) img {
    height: 45%;
  }

  .card:nth-child(4) img {
    height: 45%;
  }
}

@media screen and (min-width: 992px) {
  .hero-section {
    height: 80vh;
  }

  .hero-image {
    height: 80vh;
  }
  .hero-text {
    font-size: 6rem;
  }
  .hero-btn {
    margin-top: 26rem;
  }

  .card {
    width: 30%;
    padding: 1.5rem 1rem;
  }

  .card:nth-child(4) img {
    height: 50%;
  }
}

@media screen and (min-width: 1200px) {
  .hero-section {
    height: 98vh;
  }

  .hero-image {
    height: 98vh;
  }
  .hero-btn {
    margin-top: 27rem;
  }
}
