@import url("./common/common.css");

.hero-image {
  width: 100%;
  height: 27rem;
  top: 0;
}

.hero-section {
  top: 0;
  position: absolute;
  width: 100%;
  height: 30rem;
}

.hero-title {
  font-size: 3rem;
  color: rgb(213, 254, 255);
  margin-top: -14rem;
  margin-left: 3rem;
}

.about-us {
  background-color: #f3f2f3;
  margin-top: 13rem;
  display: flex;
  padding: 1rem;
  gap: 3%;
  flex-direction: column;
}

.card {
  margin: 1rem;
}

.about-us .card hr {
  margin: -1rem auto 1rem auto;
}

.title {
  text-align: center;
  margin: 1rem;
  font-size: 2.5rem;
  box-sizing: border-box;
  padding: 0.5rem 0;
}

.about-us .card:nth-child(1) p {
  font-size: 1.5rem;
  box-sizing: border-box;
}

.about-us .card:nth-child(2) ul {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.about-us .card:nth-child(2) ul li {
  font-size: 1.5rem;
  box-sizing: border-box;
}

.about-us .card:nth-child(2) ul li i {
  font-size: 2rem;
  box-sizing: border-box;
  padding: 0.3rem 0.3rem 0.3rem 0;
}

.team-members {
  display: flex;
  gap: 3%;
}

.team-members div {
  width: 30%;
}

.team-members div img {
  width: 100%;
  cursor: pointer;
}

.team-members div h2 {
  text-align: center;
  font-size: 1.7rem;
}

.team-members div p {
  text-align: center;
  font-size: 1.5rem;
}

.why-chosse-us {
  background-color: #f6f3ea;
  margin: 1rem;
  box-sizing: border-box;
  padding: 2rem;
}

.why-chosse-us hr {
  margin: 1rem auto;
}

.why-chosse-us__title {
  text-align: center;
  font-size: 2.5rem;
}

hr {
  width: 20rem;
  margin: 0 auto;
  border: 2px solid orangered;
  border-radius: 1rem;
}
.why-chosse-us__card {
  margin-top: 1rem;
  display: flex;
  flex-direction: column;
  cursor: pointer;
}

.why-chosse-us__card div {
  background-color: #fffcf2;
  margin: 1rem;
  box-sizing: border-box;
  padding: 2rem;
  border-radius: 1rem;
  transition: 0.3s ease;
  box-shadow: 5px 5px 5px rgb(112, 110, 109, 0.1);
}

.why-chosse-us__card div:hover {
  box-shadow: 5px 5px 5px rgb(112, 110, 109, 0.5);
}

.why-chosse-us__card div img {
  width: 10rem;
  height: 10rem;
  display: block;
  margin: 0 auto;
}

.why-chosse-us__card div h2 {
  text-align: center;
  font-size: 1.8rem;
}

.why-chosse-us__card div hr {
  margin: 0.5rem auto 1rem auto;
}

.why-chosse-us__card div p {
  font-size: 1.5rem;
}

@media screen and (min-width: 768px) {
  .hero-image {
    height: 37rem;
  }

  .hero-title {
    margin-top: -20rem;
    font-size: 3.5rem;
  }

  .about-us {
    margin-top: 13rem;
    padding-top: 10rem;
  }
}

@media screen and (min-width: 850px) {
  .why-chosse-us__card {
    flex-direction: row;
  }
}

@media screen and (min-width: 992px) {
  .hero-image {
    height: 45rem;
  }

  .hero-title {
    margin-top: -20rem;
    font-size: 4rem;
  }

  .about-us {
    margin-top: 20rem;
    padding-top: 5rem;
    flex-direction: row;
  }
}

@media screen and (min-width: 1200px) {
  .hero-image {
    height: 55rem;
  }

  .hero-title {
    margin-top: -25rem;
    font-size: 5rem;
  }

  .about-us {
    margin-top: 25rem;
    padding-top: 10rem;
  }

  .title {
    font-size: 3rem;
    margin: 1rem 0;
  }

  .about-us .card:nth-child(1) p {
    font-size: 2rem;
  }

  .about-us .card:nth-child(2) ul li {
    font-size: 2rem;
  }
}
